*{
   margin: 0;
   padding: 0;
}
body {
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, rgb(41, 121, 122), #a3bdad);
    padding: 0 !important;
}
#logo-img{
    height: 70px;
    padding-left: 10px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: rgb(0, 0, 0);
    font-weight: 550;
   
}

/* BANNER SECTION */
#banner{
    background-image: linear-gradient(to right, rgb(41, 121, 122), #a3bdad);
    
    color: aliceblue;
}
.promo-title{
    font-size: 30px;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 100px;
}
.img-fluid{
    margin-bottom: 20px;
}
.img-banner{
    border-radius: 20px;
}
.carousel-inner h5{
    font-weight: 600;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 20px;
}

.carousel-inner img{
    border-radius: 10px;
    background-color: rgba(248, 247, 216, 0.7);
}
.email{
    font-style: italic;
    color: rgb(37, 0, 71);
    font-weight: 700;
}

/* NEWS */

.news-header{
    text-align: left;
    margin-top: 30px;
    padding-left: 20px;
    font-weight: 600;
}


/* PROJECTS */

.layer{
    background: transparent;
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    overflow: hidden;
    z-index: 999;
}
#project{
    
}


.layer:hover{
    background: rgba(72, 164, 74, 0.7);

}
#projects:hover .layer{
    height: 100%;
}

#projects img{
    border-radius: 10px;
    height: 275px;
    margin-bottom: 20px;
}
   
.project-names{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: -60px;
    color: #ffffff ;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*----------SOCIALMEDIA---------*/

#social-media{
    background-color: #cecfd1b9;
    padding: 100px 0;
}
#social-media p{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
   
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}

